/*
Map Leaflet
========
*/
#mapid
{
height: 600px;
margin-top: 20px;
z-index:0;
}

/*
Background login, register, ..
========
*/
.fond
{
    background-image: url('../images/theatre.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Menu  ...
========
*/
.slide-fade-enter-active {
    transition: all 0.1s ease-out;
  }

  .slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.1, 0.3, 1);
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    opacity: 0;
  }

